a {
    color: inherit;
    text-decoration: inherit;
}

.beerComponent {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 380px;
    text-align: center;
}

.beerComponent:hover {
    background-color: lightgray;
}

.beerComponent:active {
    background-color: darkgray;
}

.beerComponentImage {
    padding: 10px;
    height: 250px;
}

.beerComponentName {
    word-spacing: 2px;
    font-size: 1rem;
}

.beerComponentTagline {
    font-size: 0.9rem;
}