 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .Details {
        width: 300px;
    }
    
    .DetailsContainer {
        flex-direction: column;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .Details {
        width: 600px;
    }
    .DetailsContainer {
        flex-direction: column;
    }
}
 
 /* Large and extra large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .Details {
        width: 900px;
    }
    .DetailsContainer {
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
}

.PageCont {
    display: flex;
    justify-content: center;
}

 .Details {
    display: flex;
    flex-direction: column;
 }

 .DetailsTitle {
    text-align: center;
    text-transform: uppercase;
 }

 .DetailsTagline {
    text-align: center;
 }

 .DetailsContainer {
    padding: 20px;
    display: flex;
 }
 
 .DetailsImage {
    padding: 20px;
    max-width: 500px;
 }

.DetailsTexts {
    padding: 10px;
}

.DetailsIngredientsContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.DetailsIngredients {
    font-size: 1.5rem;
}

.IngredientName {
    font-size: 1.2rem;
}

.IngredientPar {
    font-size: 1rem;
}